.form-container label{
    color: white;
}

.contact-container{
    padding: 5% 30%;
    background-image: linear-gradient(to right, rgb(27, 13, 130),rgb(40, 30, 224),rgb(63, 14, 209));
    
}

.container-fluid h2{
    color: white;
    text-align: center;
    font-family: 'Michroma', sans-serif;
}
.btn button{
    border: 2px black;
}

@media(max-width:700px){
    .container-fluid h2{
        font-size: 20px;
        padding: 10%;
    }
    .form-container{
        padding: 5%;
    }
}