i{
  display: flex;
  color: white;
  font-size: 30px;
  
}

i:hover{
  color: yellowgreen;
}

.icons{
  display: flex;
}
.icons a{
  margin: 0 1% ;
}

.collapse{
  margin: 0 2%;
}

.navbar-nav a{
  transition: all 2s;
  color: white;
  margin: 0 20px;
}

.navbar-nav a:hover{
  color: yellowgreen;
  transition: all 2s;
  font-size: 20px;
}
/* 
@media (max-width:700px){

  .icons{
    width: auto;
    margin: 0;
  }
  .icons a{
    margin: 0 10px;
  }
  
} */