.container-proyects {
  background-color: rgba(0, 0, 0, 0.308);
  padding: 2%;
}

.container-proyects h1 {
  text-align: center;
  color: white;
  font-family: "Michroma", sans-serif;
}

.proyects {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.efect {
  transition: all 1s;
  background-image: linear-gradient(
    to right,
    rgb(36, 26, 169),
    rgb(82, 32, 126)
  );
  margin: 0 3%;
  padding: 5px;
  border-radius: 10px;
  width: 30%;
  margin-bottom: 5%;
}

.efect h5 {
  color: white;
}

.efect:hover {
  transition: all 2s;
  width: 40%;
  height: 10%;
}

.proyect {
  background-color: rgb(29, 29, 29);
  border-radius: 10px;
  padding: 5%;
  height: 100%;
  text-align: center;
}

.proyect img {
  max-width: 100%;
  height: auto;
  padding: 2%;
}

.proyect h5 {
  color: yellowgreen;
  margin: 8% 0;
}

.proyect p {
  padding: 5%;
}

.proyect button {
  width: 100px;
  margin-top: 5%;
}


@media(max-width:800px){
  .proyects{
    
    display: grid;
    grid-template-columns: 1fr;
  }
  .proyect{
    width: 100%;
  }
  .efect{
    width: 100%;
    pointer-events: none;
  }
  .container-proyects h1{
    padding: 5%;
  }
  
}